@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Nunito:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
  text-align: center;
  padding: 1rem;
}

.header h1 {
  font-size: 3rem;
  color: #d1e4e8;
  font-weight: bold;
  text-shadow: 0 0 10px #0077ff;
  font-family:'Michroma';
}



.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
border-radius: 35.7656px;
left: calc(50% - 1081.31px/2 - 0.34px);
top: 232.47px;
}

.search-bar input {
  padding: 0.7rem 1rem;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 35%;
  background: linear-gradient(90deg, #642b73, #c6426e);
  color: white;
}

.search-bar button {
  padding: 0.7rem 1rem;
  border-radius: 0 20px 20px 0;
  border: none;
  background: #6c63ff;
  color: white;
  cursor: pointer;
}

